@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    margin: 0;
    font-family: "Nunito Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.875;
    color: #373737;
    text-align: left;
    background-color: #fff;
}